In [26]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [27]:
df = pd.read_csv('beijing_house_price.csv')

In [28]:
df.head()

   公交  写字楼  医院  商场  地铁  学校  小区名字  建造时间    房型  楼层  每平米价格   面积
0  18   18  10   0   2  49  远洋山水  2006  2室1厅  26  60937   96
1  17   42  10   0   4  37   椿树园  1998  3室1厅  14  88686  130
2  18   36   9   0   1  24  永乐小区  1989  3室1厅  18  46621   74
3  15   49  13   0   2  45  主语家园  2007  4室3厅   2  86147  462
4   6    0   0   0   0   0  天伦锦城  2007  1室1厅  13  42500   64

In [29]:
df = df.drop_duplicates()

In [30]:
df.corr()

,公交,写字楼,医院,商场,地铁,学校,建造时间,楼层,每平米价格,面积
公交,1.000000,0.529293,0.503114,NaN,0.552599,0.717265,-0.014225,-0.013684,0.151266,-0.057429
写字楼,0.529293,1.000000,0.744593,NaN,0.819552,0.676085,-0.059332,0.120277,0.328803,-0.036594
医院,0.503114,0.744593,1.000000,NaN,0.703238,0.680142,-0.048411,0.092576,0.308416,-0.056122
商场,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
地铁,0.552599,0.819552,0.703238,NaN,1.000000,0.632699,-0.037625,0.071634,0.297670,-0.045099
学校,0.717265,0.676085,0.680142,NaN,0.632699,1.000000,-0.052310,0.073141,0.308136,-0.093270
建造时间,-0.014225,-0.059332,-0.048411,NaN,-0.037625,-0.052310,1.000000,0.024791,-0.074439,-0.033438
楼层,-0.013684,0.120277,0.092576,NaN,0.071634,0.073141,0.024791,1.000000,0.050279,-0.137010
每平米价格,0.151266,0.328803,0.308416,NaN,0.297670,0.308136,-0.074439,0.050279,1.000000,0.132288
面积,-0.057429,-0.036594,-0.056122,NaN,-0.045099,-0.093270,-0.033438,-0.137010,0.132288,1.000000

In [31]:
pearson_max = np.abs(df.corr().iloc[-2]).sort_values(ascending=False)[1:4]

In [32]:
features_names = pearson_max.index.values

In [33]:
features_names

array(['写字楼', '医院', '学校'], dtype=object)

In [34]:
features = df[features_names]

In [35]:
features

      写字楼  医院  学校
0      18  10  49
1      42  10  37
2      36   9  24
3      49  13  45
4       0   0   0
5       0   0   0
6       0   0   0
7       0   0   0
8       0   0  39
9       0   0   0
10      0   0   0
11      0   0   0
12     50  11  25
13     50  16  35
14     50  17  49
15      0   0  12
16      0   0  19
17      0   0   0
18     13   7  21
19      0   0   0
20      0   0   0
21      0   0   0
22      0   0  19
23      0   0   8
24      0   0   0
25      0   0   0
26     46   9  26
27      0   0  23
28      0   0  38
29     49   8  15
...   ...  ..  ..
2969    0   0   0
2970    0   0   0
2971    0   0   0
2972    0   0   0
2973    0   0   0
2974    0   0   0
2975    0   0   0
2976    0   0   0
2977    0   0   0
2978    0   0   0
2979    0   0   0
2980    0   0   0
2981    0   0   0
2982    0   0   0
2983    0   0   0
2984    0   0   0
2985    0   0   0
2986    0   0   0
2987    0   0   0
2988    0   0   0
2989    0   0   0
2990    0   0   0
2991    0   0   0
2992    0   0   0
2993    0   0   0
2994    0   0   0
2995    0   0   0
2996    0   0   0
2997    0   0   0
2998    0   0   0

[2335 rows x 3 columns]

In [36]:
target = df.iloc[:,[-2]]

In [37]:
target

       每平米价格
0      60937
1      88686
2      46621
3      86147
4      42500
5      28368
6      97646
7      57083
8      61111
9      26627
10     82960
11     25916
12     87051
13    106349
14    141414
15     89215
16     39608
17     41011
18     38264
19     59090
20     23076
21     39583
22     52830
23     30156
24     60975
25     40838
26     48968
27     36259
28     31081
29     65760
...      ...
2969   15915
2970   20000
2971   95238
2972   44933
2973   98522
2974  249964
2975   77180
2976   72513
2977   24390
2978   53435
2979   51657
2980   69166
2981   78832
2982   30660
2983   41210
2984   54676
2985   23107
2986   52405
2987   52721
2988  144545
2989   83585
2990   78579
2991   66282
2992   37209
2993   80549
2994   23563
2995   85714
2996   79131
2997   16666
2998   50777

[2335 rows x 1 columns]

In [38]:
x_train,x_test,y_train,y_test = train_test_split(features,target,test_size=0.3,random_state=10)

In [39]:
x_train

      写字楼  医院  学校
1549   31  11  31
292     0   0   0
523     0   0   0
1673   48   8  21
1014   49   7  49
1616   49   3  20
2279    0   0   0
2941    0   0   0
2593    0   0   0
299    49   5  27
217     2   4  14
2197    0   0   0
266    49   4  17
1020    8   4  16
1688   48   9  20
1659    0   0   0
680     0   0   0
1377    0   0   0
2036    0   0   0
2174    0   0   0
2013    0   0   0
216     0   0  31
2020    0   0   0
2719    0   0   0
2562    0   0   0
1980    0   0   0
1779    0   0  35
2547    0   0   0
2984    0   0   0
2783    0   0   0
...   ...  ..  ..
308     0   0  11
2485    0   0   0
90      0   0   0
2017    0   0   0
861    49   3  22
2057    0   0   0
484     0   0   0
13     50  16  35
78     20  34  49
2370    0   0   0
1577    0   0   0
1860   17  17  24
727     0   0   7
2763    0   0   0
261     5   3  42
403     0   0   8
2206    0   0   0
41      0   0  16
2968    0   0   0
1711    0   0   8
1641   35  19  39
2703    0   0   0
2607    0   0   0
2173    0   0   0
1033   29  15  40
2669    0   0   0
1811   48  18  27
1994    0   0   0
672     0   0   0
1934   49  14  50

[1634 rows x 3 columns]

In [40]:
poly_features = PolynomialFeatures(degree=3)

In [41]:
x_train_feature = poly_features.fit_transform(x_train)

In [42]:
x_train_feature

array([[1.0000e+00, 3.1000e+01, 1.1000e+01, ..., 3.7510e+03, 1.0571e+04,
        2.9791e+04],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       ...,
       [1.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.0000e+00, 4.9000e+01, 1.4000e+01, ..., 9.8000e+03, 3.5000e+04,
        1.2500e+05]])

In [ ]:
x_test_feature = poly_features.fit_transform(x_test)

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(x_train_feature, y_train)

In [ ]:
y_pred = model.predict(x_test_feature)

In [ ]:
mae = mean_absolute_error(y_test, y_pred)

In [ ]:
mae